* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    --purple-color: rgb(115, 128, 215);
    --faded-purple-color: rgba(115, 128, 215, 0.7);
    --super-faded-purple-color: rgba(115, 128, 215, 0.2)
}

html, body, .main_wrapper {
    height: 100%;
    font-family: "Roboto";
    color: var(--purple-color);
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

.f-row {
    flex-direction: row;
}

.f-center {
    align-items: center;
    justify-content: center;
}

.f-column {
    flex-direction: column;
}

.flex{
    display: flex;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff");
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto-Light.woff");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.woff");
}
