* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, .main_wrapper {
    height: 100%;
}

.f-row {
    flex-direction: row;
}

.f-center {
    align-items: center;
    justify-content: center;
}

.f-column {
    flex-direction: column;
}

.flex{
    display: flex;
}

@font-face {
    font-family: Roboto, sans-serif;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoLight, sans-serif;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: RobotoBold, sans-serif;
    src: url("../fonts/Roboto-Bold.ttf");
}


