.main_wrapper {
    background: linear-gradient(85deg, rgba(254,205,171,1) 0%, rgba(250,184,145,1) 100%);
}

.todo_sheet{
    background-color: white;
    height: 80%;
    max-height: 450px;
    width: 300px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.229);
    border-radius: 5px;
}

.tasklist_section{
    flex-grow: 1;
}

.date_navigation, .counter_addtask{
    border-bottom: 1px solid var(--super-faded-purple-color);
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.nav_date{
    gap: 0.2rem;
}


.nav_day_of_week{
    font-family: "RobotoBold";
    color: var(--purple-color);
    letter-spacing: 1px;
}

.nav_date_and_month, .taskcounter, .addtask_button {
    display: inline-block;
    font-family: "RobotoLight";
    color: var(--faded-purple-color);
}

.nav_date_and_month, .addtask_button{
    font-size: 0.7rem;
}

.nav_date_and_month{
    margin-top: 2px;
    font-weight: 400;
}

.taskcounter{
    font-size: 0.6rem;
}

.addtask_button{
    font-family: "Roboto";
    background-color: transparent;
    border: none;
    color: var(--purple-color);
}


.counter_addtask{
    border-top: 1px solid var(--super-faded-purple-color);
}


.date_navigation, .counter_addtask {
    padding: 0px 20px;
}